In [1]:
import numpy as np               # Aljabar linear
import pandas as pd              # Manipulasi data
import matplotlib.pyplot as plt  # Visualisasi
import seaborn as sns            # Visualisasi statistik
import missingno as mn           # For visualizing missing values.
from scipy import stats          # For statistics

In [13]:
train = pd.read_csv("train.csv")
display(train.head(10))

test = pd.read_csv("test.csv")
display(test.head(10))

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
5,1859,0,0.5,1,3,0,22,0.7,164,1,...,1004,1654,1067,17,1,10,1,0,0,1
6,1821,0,1.7,0,4,1,10,0.8,139,8,...,381,1018,3220,13,8,18,1,0,1,3
7,1954,0,0.5,1,0,0,24,0.8,187,4,...,512,1149,700,16,3,5,1,1,1,0
8,1445,1,0.5,0,0,0,53,0.7,174,7,...,386,836,1099,17,1,20,1,0,0,0
9,509,1,0.6,1,2,1,9,0.1,93,5,...,1137,1224,513,19,10,12,1,0,0,0

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1
5,6,1464,1,2.9,1,5,1,50,0.8,198,...,9,569,939,3506,10,7,3,1,1,1
6,7,1718,0,2.4,0,1,0,47,1.0,156,...,3,1283,1374,3873,14,2,10,0,0,0
7,8,833,0,2.4,1,0,0,62,0.8,111,...,2,1312,1880,1495,7,2,18,0,1,1
8,9,1111,1,2.9,1,9,1,25,0.6,101,...,19,556,876,3485,11,9,10,1,1,0
9,10,1520,0,0.5,0,1,0,25,0.5,171,...,20,52,1009,651,6,0,5,1,0,1

In [14]:
'''Merge train and test data together. This eliminates the hassle of handling train and test data seperately for various analysis.'''
merged = pd.concat([train, test], sort = False)
display(merged.head(5))

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,id
0,842,0,2.2,0,1,0,7,0.6,188,2,...,756,2549,9,7,19,0,0,1,1.0,NaN
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,1988,2631,17,3,7,1,1,0,2.0,NaN
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1716,2603,11,2,9,1,1,0,2.0,NaN
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1786,2769,16,8,11,1,0,0,2.0,NaN
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1212,1411,8,2,15,1,1,0,1.0,NaN

In [15]:
# Analisis bentuk data
merged.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,id
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,...,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,2000.000000,1000.000000
mean,1241.849000,0.502000,1.528467,0.512000,4.404000,0.510000,32.581667,0.507000,140.003000,4.456333,...,1247.601667,2129.141333,12.202667,5.616667,11.035667,0.759667,0.502000,0.507000,1.500000,500.500000
std,437.063804,0.500079,0.820358,0.499939,4.383742,0.499983,18.152810,0.285969,35.213809,2.289361,...,434.666168,1085.694231,4.251151,4.322494,5.474400,0.427357,0.500079,0.500034,1.118314,288.819436
min,500.000000,0.000000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,863.750000,0.000000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,2.000000,...,865.000000,1212.750000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000,250.750000
50%,1232.000000,1.000000,1.500000,1.000000,3.000000,1.000000,33.000000,0.500000,140.000000,4.000000,...,1248.000000,2147.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000,500.500000
75%,1619.000000,1.000000,2.300000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,6.000000,...,1634.000000,3065.250000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000,750.250000
max,1999.000000,1.000000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000,1000.000000

In [16]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 999
Data columns (total 22 columns):
battery_power    3000 non-null int64
blue             3000 non-null int64
clock_speed      3000 non-null float64
dual_sim         3000 non-null int64
fc               3000 non-null int64
four_g           3000 non-null int64
int_memory       3000 non-null int64
m_dep            3000 non-null float64
mobile_wt        3000 non-null int64
n_cores          3000 non-null int64
pc               3000 non-null int64
px_height        3000 non-null int64
px_width         3000 non-null int64
ram              3000 non-null int64
sc_h             3000 non-null int64
sc_w             3000 non-null int64
talk_time        3000 non-null int64
three_g          3000 non-null int64
touch_screen     3000 non-null int64
wifi             3000 non-null int64
price_range      2000 non-null float64
id               1000 non-null float64
dtypes: float64(4), int64(18)
memory usage: 539.1 KB

In [19]:
merged.describe(include='all')

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,id
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,...,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,2000.000000,1000.000000
mean,1241.849000,0.502000,1.528467,0.512000,4.404000,0.510000,32.581667,0.507000,140.003000,4.456333,...,1247.601667,2129.141333,12.202667,5.616667,11.035667,0.759667,0.502000,0.507000,1.500000,500.500000
std,437.063804,0.500079,0.820358,0.499939,4.383742,0.499983,18.152810,0.285969,35.213809,2.289361,...,434.666168,1085.694231,4.251151,4.322494,5.474400,0.427357,0.500079,0.500034,1.118314,288.819436
min,500.000000,0.000000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,863.750000,0.000000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,2.000000,...,865.000000,1212.750000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000,250.750000
50%,1232.000000,1.000000,1.500000,1.000000,3.000000,1.000000,33.000000,0.500000,140.000000,4.000000,...,1248.000000,2147.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000,500.500000
75%,1619.000000,1.000000,2.300000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,6.000000,...,1634.000000,3065.250000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000,750.250000
max,1999.000000,1.000000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000,1000.000000

In [20]:
merged.isna().sum()

battery_power       0
blue                0
clock_speed         0
dual_sim            0
fc                  0
four_g              0
int_memory          0
m_dep               0
mobile_wt           0
n_cores             0
pc                  0
px_height           0
px_width            0
ram                 0
sc_h                0
sc_w                0
talk_time           0
three_g             0
touch_screen        0
wifi                0
price_range      1000
id               2000
dtype: int64

In [23]:
#Discrete Variable Correlation by Survival using
#group by aka pivot table: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html
for x in merged.columns:
    if merged[x].dtype != 'float64' :
        print('crosstab:', x)
        print(merged[[x, 'price_range']].groupby(x, as_index=False).sum())
        print('-'*10, '\n')

crosstab: battery_power
      battery_power  price_range
0               500          0.0
1               501          3.0
2               502          3.0
3               503          4.0
4               504          3.0
5               506          2.0
6               507          2.0
7               508          3.0
8               509          0.0
9               510          5.0
10              511          5.0
11              512          2.0
12              513          2.0
13              514          3.0
14              516          2.0
15              517          3.0
16              518          3.0
17              519          3.0
18              520          1.0
19              521          0.0
20              523          0.0
21              524          0.0
22              525          1.0
23              527          0.0
24              528          2.0
25              529          0.0
26              530          0.0
27              531          3.0
28              532          0.0
29              533          0.0
...             ...          ...
1245           1967          1.0
1246           1968          2.0
1247           1969          0.0
1248           1970          4.0
1249           1971          0.0
1250           1972          7.0
1251           1973          3.0
1252           1974          1.0
1253           1975          5.0
1254           1976          6.0
1255           1977          5.0
1256           1979          0.0
1257           1980          3.0
1258           1981          1.0
1259           1982          4.0
1260           1983          5.0
1261           1985          0.0
1262           1986          8.0
1263           1987          4.0
1264           1988          3.0
1265           1989          4.0
1266           1991          4.0
1267           1992          4.0
1268           1993          2.0
1269           1994          5.0
1270           1995          3.0
1271           1996          3.0
1272           1997          2.0
1273           1998          2.0
1274           1999          0.0

[1275 rows x 2 columns]
----------

crosstab: blue
   blue  price_range
0     0       1492.0
1     1       1508.0
----------

crosstab: dual_sim
   dual_sim  price_range
0         0       1452.0
1         1       1548.0
----------

crosstab: fc
    fc  price_range
0    0        690.0
1    1        362.0
2    2        283.0
3    3        265.0
4    4        206.0
5    5        205.0
6    6        155.0
7    7        157.0
8    8        130.0
9    9        117.0
10  10         92.0
11  11         76.0
12  12         67.0
13  13         55.0
14  14         32.0
15  15         47.0
16  16         32.0
17  17         14.0
18  18         15.0
19  19          0.0
----------

crosstab: four_g
   four_g  price_range
0       0       1419.0
1       1       1581.0
----------

crosstab: int_memory
    int_memory  price_range
0            2         57.0
1            3         31.0
2            4         22.0
3            5         54.0
4            6         60.0
5            7         55.0
6            8         49.0
7            9         66.0
8           10         56.0
9           11         45.0
10          12         49.0
11          13         46.0
12          14         56.0
13          15         42.0
14          16         82.0
15          17         47.0
16          18         44.0
17          19         40.0
18          20         45.0
19          21         44.0
20          22         40.0
21          23         57.0
22          24         56.0
23          25         26.0
24          26         42.0
25          27         62.0
26          28         33.0
27          29         29.0
28          30         51.0
29          31         49.0
..         ...          ...
33          35         52.0
34          36         40.0
35          37         40.0
36          38         30.0
37          39         47.0
38          40         50.0
39          41         48.0
40          42         59.0
41          43         51.0
42          44         75.0
43          45         52.0
44          46         48.0
45          47         36.0
46          48         45.0
47          49         56.0
48          50         50.0
49          51         54.0
50          52         48.0
51          53         43.0
52          54         42.0
53          55         42.0
54          56         33.0
55          57         56.0
56          58         60.0
57          59         36.0
58          60         26.0
59          61         57.0
60          62         31.0
61          63         49.0
62          64         56.0

[63 rows x 2 columns]
----------

crosstab: mobile_wt
     mobile_wt  price_range
0           80         31.0
1           81         14.0
2           82         28.0
3           83         17.0
4           84         35.0
5           85         23.0
6           86         27.0
7           87         30.0
8           88         42.0
9           89         37.0
10          90         15.0
11          91         17.0
12          92         22.0
13          93         25.0
14          94         15.0
15          95         27.0
16          96         16.0
17          97         14.0
18          98         14.0
19          99         18.0
20         100         35.0
21         101         39.0
22         102         34.0
23         103         33.0
24         104         35.0
25         105         36.0
26         106         24.0
27         107         27.0
28         108         19.0
29         109         22.0
..         ...          ...
91         171         16.0
92         172         30.0
93         173         26.0
94         174         18.0
95         175         13.0
96         176         14.0
97         177         20.0
98         178         25.0
99         179         21.0
100        180         21.0
101        181         23.0
102        182         34.0
103        183         27.0
104        184         15.0
105        185         32.0
106        186         21.0
107        187         37.0
108        188         21.0
109        189         22.0
110        190         26.0
111        191         18.0
112        192         16.0
113        193         20.0
114        194         18.0
115        195         11.0
116        196         33.0
117        197         25.0
118        198         33.0
119        199         40.0
120        200         27.0

[121 rows x 2 columns]
----------

crosstab: n_cores
   n_cores  price_range
0        1        375.0
1        2        359.0
2        3        358.0
3        4        396.0
4        5        393.0
5        6        342.0
6        7        400.0
7        8        377.0
----------

crosstab: pc
    pc  price_range
0    0        130.0
1    1        148.0
2    2        152.0
3    3        138.0
4    4        130.0
5    5         96.0
6    6        165.0
7    7        187.0
8    8        119.0
9    9        164.0
10  10        175.0
11  11        126.0
12  12        131.0
13  13        118.0
14  14        151.0
15  15        131.0
16  16        156.0
17  17        147.0
18  18        137.0
19  19        150.0
20  20        149.0
----------

crosstab: px_height
      px_height  price_range
0             0          4.0
1             1          0.0
2             2          1.0
3             3          1.0
4             4          7.0
5             5          1.0
6             6          0.0
7             7          0.0
8             8          3.0
9             9          3.0
10           10          2.0
11           11          2.0
12           12          0.0
13           13          2.0
14           14          2.0
15           15          2.0
16           16          0.0
17           17          1.0
18           18          5.0
19           19          6.0
20           20          1.0
21           21          5.0
22           22          4.0
23           23          1.0
24           24          2.0
25           26          2.0
26           27          1.0
27           29          1.0
28           30          0.0
29           31          0.0
...         ...          ...
1303       1788          0.0
1304       1789          3.0
1305       1790          2.0
1306       1791          4.0
1307       1792          1.0
1308       1795          3.0
1309       1801          1.0
1310       1802          3.0
1311       1805          0.0
1312       1813          0.0
1313       1816          0.0
1314       1826          3.0
1315       1830          2.0
1316       1836          1.0
1317       1842          0.0
1318       1852          2.0
1319       1853          0.0
1320       1858          2.0
1321       1869          1.0
1322       1874          3.0
1323       1878          0.0
1324       1895          3.0
1325       1899          3.0
1326       1900          0.0
1327       1901          2.0
1328       1907          0.0
1329       1914          1.0
1330       1920          2.0
1331       1949          3.0
1332       1960          2.0

[1333 rows x 2 columns]
----------

crosstab: px_width
      px_width  price_range
0          500          1.0
1          501          6.0
2          502          0.0
3          503          0.0
4          506          1.0
5          507          1.0
6          508          2.0
7          509          0.0
8          510          2.0
9          511          4.0
10         512          3.0
11         513          4.0
12         514          0.0
13         515          0.0
14         516          2.0
15         517          6.0
16         518          0.0
17         519          4.0
18         520          2.0
19         521          0.0
20         522          6.0
21         523          0.0
22         525          2.0
23         527          5.0
24         528          0.0
25         529          0.0
26         530          2.0
27         531          0.0
28         532          0.0
29         533          5.0
...        ...          ...
1283      1969          0.0
1284      1970          6.0
1285      1971          0.0
1286      1972          4.0
1287      1973          2.0
1288      1974          3.0
1289      1975          1.0
1290      1976          6.0
1291      1977          3.0
1292      1978          0.0
1293      1979          1.0
1294      1980          3.0
1295      1981          0.0
1296      1982          3.0
1297      1983          8.0
1298      1984          0.0
1299      1985          6.0
1300      1986          3.0
1301      1987          5.0
1302      1988          8.0
1303      1989          0.0
1304      1990          1.0
1305      1991          3.0
1306      1992          3.0
1307      1993          0.0
1308      1994          5.0
1309      1995          8.0
1310      1996          1.0
1311      1997          2.0
1312      1998          1.0

[1313 rows x 2 columns]
----------

crosstab: ram
       ram  price_range
0      256          0.0
1      258          0.0
2      259          0.0
3      262          0.0
4      263          0.0
5      265          0.0
6      267          0.0
7      273          0.0
8      275          0.0
9      277          0.0
10     278          0.0
11     282          0.0
12     284          0.0
13     285          0.0
14     286          0.0
15     291          0.0
16     292          0.0
17     293          0.0
18     294          0.0
19     296          0.0
20     297          0.0
21     298          0.0
22     299          0.0
23     300          0.0
24     301          0.0
25     302          0.0
26     303          0.0
27     305          0.0
28     308          0.0
29     309          0.0
...    ...          ...
2040  3948          3.0
2041  3950          0.0
2042  3952          3.0
2043  3953          0.0
2044  3954          0.0
2045  3955          3.0
2046  3957          3.0
2047  3958          3.0
2048  3959          3.0
2049  3961          3.0
2050  3962          3.0
2051  3963          3.0
2052  3964          3.0
2053  3965          3.0
2054  3966          3.0
2055  3968          3.0
2056  3969          3.0
2057  3970          6.0
2058  3971          3.0
2059  3973          0.0
2060  3975          0.0
2061  3976          0.0
2062  3978          3.0
2063  3984          3.0
2064  3989          0.0
2065  3990          3.0
2066  3991          6.0
2067  3993          3.0
2068  3996          3.0
2069  3998          3.0

[2070 rows x 2 columns]
----------

crosstab: sc_h
    sc_h  price_range
0      5        143.0
1      6        162.0
2      7        227.0
3      8        173.0
4      9        189.0
5     10        182.0
6     11        169.0
7     12        233.0
8     13        228.0
9     14        199.0
10    15        201.0
11    16        209.0
12    17        317.0
13    18        190.0
14    19        178.0
----------

crosstab: sc_w
    sc_w  price_range
0      0        253.0
1      1        341.0
2      2        246.0
3      3        288.0
4      4        254.0
5      5        239.0
6      6        178.0
7      7        179.0
8      8        189.0
9      9        144.0
10    10        147.0
11    11        152.0
12    12        103.0
13    13         75.0
14    14         55.0
15    15         49.0
16    16         61.0
17    17         39.0
18    18          8.0
----------

crosstab: talk_time
    talk_time  price_range
0           2        147.0
1           3        136.0
2           4        169.0
3           5        146.0
4           6        154.0
5           7        197.0
6           8        158.0
7           9        146.0
8          10        156.0
9          11        157.0
10         12        152.0
11         13        155.0
12         14        143.0
13         15        168.0
14         16        181.0
15         17        151.0
16         18        157.0
17         19        166.0
18         20        161.0
----------

crosstab: three_g
   three_g  price_range
0        0        693.0
1        1       2307.0
----------

crosstab: touch_screen
   touch_screen  price_range
0             0       1525.0
1             1       1475.0
----------

crosstab: wifi
   wifi  price_range
0     0       1458.0
1     1       1542.0
----------

In [28]:
'''Untuk menganalisis variabel kategori, kami akan membuat tiga fungsi kustom.
Dua fungsi pertama menampilkan label bar dalam skala absolut dan relatif. Dan yang ketiga menciptakan dataframe absolut dan relatif dan juga menghasilkan abs dan frekuensi relatif plot untuk setiap variabel.'''

''' #1.Fungsi untuk menampilkan nilai absolut'''
def abs_bar_labels():
    plt.ylabel('Absolute Frequency')
    plt.xticks(rotation = 0)
    plt.yticks([])
    # Set individual bar lebels in absolute number
    for x in ax.patches:
        ax.annotate(x.get_height(), 
        (x.get_x() + x.get_width()/2., x.get_height()), ha = 'center', va = 'center', xytext = (0, 7), 
        textcoords = 'offset points', fontsize = 14, color = 'black')
    
'''#2.Fungsi untuk menampilkan level bar secara relatif'''
def pct_bar_labels():
    plt.ylabel('Relative Frequency (%)')
    plt.xticks(rotation = 0)
    plt.yticks([])   
    # Set individual bar lebels in proportional scale
    for x in ax1.patches:
        ax1.annotate(str(x.get_height()) + '%', 
        (x.get_x() + x.get_width()/2., x.get_height()), ha = 'center', va = 'center', xytext = (0, 7), 
        textcoords = 'offset points', fontsize = 14, color = 'black')
         
'''#3.Fungsi untuk membuat dataframe frekuensi absolut dan relatif dari setiap variabel. Dan plot frekuensi absolut dan relatif.'''
def absolute_and_relative_freq(variable):
    global  ax, ax1 
    # Dataframe of absolute and relative frequency
    absolute_frequency = variable.value_counts()
    # Will be multiplied by 100 and rounded to 2 decimal points for percentage
    relative_frequency = round(variable.value_counts(normalize = True)*100, 2) 
    df = pd.DataFrame({'Absolute Frequency':absolute_frequency, 'Relative Frequency(%)':relative_frequency})
    # This portion plots absolute frequency with bar labeled.
    ax =  absolute_frequency.plot.bar()
    plt.title('Absolute Frequency of %s' %variable.name) # Prints variable name as title in matplotlib
    abs_bar_labels()  # Displays bar labels in abs scale.
    plt.show()
    # This portion plots relative frequency with bar labeled.
    ax1 = relative_frequency.plot.bar()
    plt.title('Relative Frequency of %s' %variable.name)
    pct_bar_labels()
    plt.show()
    print('Absolute & Relative Frequency of',variable.name,':')
    return display(df)